#homec img, #professional img, #about img {
    height: 100px;
}

body {
    background-color: #000;
    color: #e4e4e4;
    margin: 0;
    overflow-y: scroll;
    font-family: baskvl;
}

.links a {
    text-decoration: none;
    padding: 3px;
    margin: 3px;
}

#container > *, #header>#headerContent, #footer>#footerContent {
    margin: 0 auto;
    width: 80%;
    min-width: 935px;
    max-width: 1520px;
}

#headerLinks {
    position: relative;
}

#contentContainer {
    position: relative;
}
#contentContainer>*{
}

#pageContainer {
    padding-right: 260px;
    min-height: 306px;
    display: block;
}

#objects {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 250px;
}
.object {
    margin-top: 3px;
    margin-bottom: 27px;
}
.objectTitle {
    display: inline-block;
    font-weight: bold;
    color: yellow;
    width: 100%;
}
.objectText {
    display: inline-block;
    margin: 0 20px;
}

#header {
}

#header a, #footer a, #footer #updated {
    background-color: rgba(24,10,87,.5);
}

#mainLinks {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
}

#mainLinks a {
    color: #E4E4E4;
}

#headerLeftAXS {
    font-size: 48px;
    line-height: 45px;
}
#headerLeftBP {
    font-size: 16px;
    top: 0px;
    position: absolute;
}

#pageLinks {
    display: table;
    margin: 0 auto;
    padding-top: 20px;
}

#pageLinks a {
    margin-left: 8px;
    margin-right: 8px;
}

#footerContent {
    position: relative;
    padding-top: 3px;
}

#header, #footer {
    width: 100%;
    max-width: none;
    height: 45px;
    background-color: rgb(24, 10, 87);
    background-image: url('images/bg3.jpg');
    background-size: auto 45px;
    background-position-x: 50%;
}

#headerContent, #footerContent {
    position: relative;
}

div#headerBackground {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
}

#header, #headerBackground {
    height: 45px;
}

#container {
    position: relative;
}

#social {
    position: absolute;
    right: 0;
}

#social a, #updated>span {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

a {
    color:  yellow;
}

#officers {
    margin: 0 auto;
    display: inline-block;
}

div.officer {
    position: relative;
    display: inline-block;
    width: 32%;
    height: 105px;
    margin: 6px 0;
    vertical-align: top;
}

div.officer>*{
    vertical-align: top;
}

div.officer>div.officerInformation {
    padding-left: 86px;
    padding-right: 5px;
}

.officerName {
    text-decoration: none;
    font-weight: bold;
}

.officerPosition {
    font-style: italic;
    font-weight: bold;
}

div.officer>div.officerPicture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93px;
    width: 81px;
    margin-top: 18px;
    position: absolute;
    top:0;
    left:0;
}

#social img {
    height: 22px;
    display: inline-block;
    margin: 0 5.5px;
}

#mainLinks {
    margin-right: 10px;
}

#interested > * {
    display: inline-block;
    vertical-align: top;
}

#interested .officer {
    width: 100%;
}

#interestedwufu {
    
    width: 45%;
}

#interestedContact {
    
    padding-left: 2%;
    width: 52%;
}

.albumPreview, .albumPictureContainer {
    width: 212px;
    height: 200px;
    display: inline-block;
    position: relative;
}

.albumPreview .albumPreviewTitle {
    text-align: center;
    font-size: 23px;
    color: #E4E4E4;
    text-shadow: 2px 2px #000;
    position: absolute;
    top: 87px;
    width: 100%;
    background-size: auto 45px;
    z-index: 1;
}

.albumPreview:hover .albumPreviewTitle {
    background-color: rgb(24, 10, 87);
    background-image: url('images/bg3.jpg');
}

.albumPreview .albumPreviewOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #000;
    
    transition: opacity .25s;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -o-transition: opacity .25s;
    -ms-transition: opacity .25s;
}

.albumPreview:hover .albumPreviewOverlay {
    opacity: .2;
}

.albumPicturePreview, .albumPicture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.albumPreview, .albumPictureContainer, .pledgeClassPictureContainer:not(.noPicture) {
    border-style: solid;
    border-color: transparent;
    border: 2px 2px;
    margin: 2px;
    transition: border-color .25s;
    -webkit-transition: border-color .25s;
    -moz-transition: border-color .25s;
    -o-transition: border-color .25s;
    -ms-transition: border-color .25s;
}

.albumPreview:hover, .albumPictureContainer:hover, .pledgeClassPictureContainer:not(.noPicture):hover {
    border-color: #E4E4E4;
}

.albumPicture {
    width: 100%;
    height: 100%;
}

.albumPicturePreview {
    width: 49%;
    height: 49%;
}

#pictures a {
    text-decoration: none;
}

.pledgeClassPictureLink {
    position:relative;
    width: 100%;
    height: 100%;
}

.pledgeClassPictureContainer {
    display: inline-block;
}

.pledgeClassPictureContainer:not(.noPicture) {
    position: relative;
    width: 300px;
    height: 300px;
}

.pledgeClassPictureContainer:not(.noPicture) .pledgeClassPicture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.member {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.member .memberName.active {
    color: yellow;
}

.member .memberFamily {
    width: 19px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.faq{
    margin-bottom: 10px;
}
.faq>.faqTitle{
    color: yellow;
}
a.selected{
    color: #e4e4e4;
}

#googleCalendar {
    width: 100%;
    height: 100%;
    min-height: 750px;
}

#twitterfeed > iframe {
    width: 100% !important;
    height: 550px;
}

#viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
}

.gradientTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
}
.gradientBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    background: -webkit-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
}
.gradientLeft {
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
}
.gradientRight {
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
}

.mercury.black{background-image:url(images/symbols/black/mercury.svg)}
.silver.black{background-image:url(images/symbols/black/silver.svg)}
.tin.black{background-image:url(images/symbols/black/tin.svg)}
.unsorted.black{background-image:url(images/symbols/black/unsorted.svg)}
.iron.blue{background-image:url(images/symbols/blue/iron.svg)}
.copper.blue{background-image:url(images/symbols/blue/copper.svg)}
.gold.blue{background-image:url(images/symbols/blue/gold.svg)}
.lead.blue{background-image:url(images/symbols/blue/lead.svg)}
.mercury.blue{background-image:url(images/symbols/blue/mercury.svg)}
.silver.blue{background-image:url(images/symbols/blue/silver.svg)}
.tin.blue{background-image:url(images/symbols/blue/tin.svg)}
.unsorted.blue{background-image:url(images/symbols/blue/unsorted.svg)}
.iron.white{background-image:url(images/symbols/white/iron.svg)}
.copper.white{background-image:url(images/symbols/white/copper.svg)}
.gold.white{background-image:url(images/symbols/white/gold.svg)}
.lead.white{background-image:url(images/symbols/white/lead.svg)}
.mercury.white{background-image:url(images/symbols/white/mercury.svg)}
.silver.white{background-image:url(images/symbols/white/silver.svg)}
.tin.white{background-image:url(images/symbols/white/tin.svg)}
.unsorted.white{background-image:url(images/symbols/white/unsorted.svg)}
.iron.yellow{background-image:url(images/symbols/yellow/iron.svg)}
.copper.yellow{background-image:url(images/symbols/yellow/copper.svg)}
.gold.yellow{background-image:url(images/symbols/yellow/gold.svg)}
.lead.yellow{background-image:url(images/symbols/yellow/lead.svg)}
.mercury.yellow{background-image:url(images/symbols/yellow/mercury.svg)}
.silver.yellow{background-image:url(images/symbols/yellow/silver.svg)}
.tin.yellow{background-image:url(images/symbols/yellow/tin.svg)}
.unsorted.yellow{background-image:url(images/symbols/yellow/unsorted.svg)}