html, body {
    height: 100%;
    min-width: 935px;
}

#container > * {
    width: 100%;
    min-width: 935px;
}

body {
    background-color: rgb(24,10,87);
    color: #e4e4e4;
    margin: 0;
    overflow: scroll;
    font-family: baskvl;
}

#objects {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 250px;
    background-color: rgb(235, 235, 0);
    color: #000;
}
.object {
    margin-top: 3px;
    margin-bottom: 27px;
}
.objectTitle {
    display: inline-block;
    font-weight: bold;
    color: #000;
    width: 100%;
}
.objectText {
    display: inline-block;
    margin: 0 20px;
}

.links a {
    text-decoration: none;
    margin: 3px;
}

#container > *, #header>#headerContent, #footer>#footerContent {
    margin: 0 auto;
    max-width: 1520px;
}

#headerLinks {
    position: relative;
}

#contentContainer {
    position: relative;
    overflow-y: auto;
}
#contentContainer>*{
}

#pageContainer {
    padding-right: 260px;
    min-height: 306px;
    display: block;
}

#header {
}

#header a, #footer a, #footer #updated {
    background-color: rgba(24,10,87,.5);
}

a#mainLogo {
    background-image: url("images/logo.png");
    height: 127px;
    width: 390px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    background-color: rgba(24,10,87,.2);
}

#mainLinks {
    margin: 0 auto;
}

#mainLinks a {
    color: #E4E4E4;
}

#pageLinks, #mainLinks {
    display: table;
    margin: 0 auto;
}

#pageLinks a {
    margin-left: 18px;
    margin-right: 18px;
}

#footerContent {
    position: relative;
    padding-top: 3px;
}

#header, #footer {
    width: 100%;
    max-width: none;
    height: 45px;
    background-color: rgb(24, 10, 87);
    background-position-x: 50%;
    z-index: 3;
}

#header {
    background-image: url("images/bgExtended.jpg");
}

#footer {
    background-image: url('images/bg3.jpg');
}

#headerContent, #footerContent {
    position: relative;
}

div#headerBackground {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
}

#header, #headerBackground {
    height: 45px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

#header, #footer {
    position: fixed;
}

#header {
    top: 0;
    left: 0;
    height: 158px;
    background-size: auto 158px;
}

#container {
    padding-top: 158px;
    padding-bottom: 45px;
    position: relative;
    min-height: 394px;
}

#footer {
    bottom: 0;
    left: 0;
    height: 45px;
    background-size: auto 45px;
}

#container {
    width: 100%;
}

#social {
    position: absolute;
    right: 0;
}

#social a, #updated>span {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

a {
    color:  rgb(235, 235, 0);
}

#home {
    position: relative;
    min-height: 300px;
}

#homePictures {
    width: 100%;
    height: 400px;
}

#homeText {
    display: block;
    text-align: center;
}

#home .picture {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: none;
}

#homePicture1.picture {
    display: block;
    background-image: url("images/home/2013F.jpg");
}
#homePicture2 {
    background-image: url("images/home/acsrt.jpg");
}
#homePicture3 {
    background-image: url("images/home/star1213.jpg");
}
#homePicture4 {
    background-image: url("images/home/2013S.jpg");
}

#officers {
    margin: 0 auto;
    display: inline-block;
}

div.officer {
    position: relative;
    display: inline-block;
    width: 32%;
    height: 105px;
    margin: 6px 0;
    vertical-align: top;
}

div.officer>*{
    vertical-align: top;
}

div.officer>div.officerInformation {
    padding-left: 86px;
    padding-right: 5px;
}

.officerName {
    text-decoration: none;
    font-weight: bold;
}

.officerPosition {
    font-style: italic;
    font-weight: bold;
}

div.officer>div.officerPicture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93px;
    width: 81px;
    margin-top: 18px;
    position: absolute;
    top:0;
    left:0;
}

#social img {
    height: 22px;
    display: inline-block;
    margin: 0 5.5px;
}

#about .picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

#axs {
    position: relative;
    min-height: 600px;
}

#axs > * {
    display: inline-block;
    padding-right: 220px;
}

#axs1Container {
    display: block;
}

#axs1.picture {
    background-image: url("images/about/IMG_08882.jpg");
    height: 300px;
    width: 100%;
    padding: 0;
    margin: 20px 0;
    background-size: contain;
}

#axs2.picture {
    background-image: url("images/about/fire.jpg");
    height: 600px;
    width: 200px;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#axsText2 {
    margin-bottom: 8px;
}

#about #bp {
    position: relative;
}

#brick.picture {
    background-image: url("images/about/Brick4.jpg");
    height: 200px;
    width: 400px;
    position: absolute;
    top: 45px;
    left: 0;
}

#aboutBpText {
    display:inline-block;
    padding-left: 420px;
    margin-top: 40px;
    vertical-align: top;
}

#website .officer {
    width: 50%;
}

#website > #aboutWebsiteTitle {
    display: block;
}

#aboutWebmaster, #websiteResources {
    padding-left: 2%;
    width: 46%;
    display: inline-block;
    vertical-align: top;
}

#interested > * {
    display: inline-block;
    vertical-align: top;
}

#interested .officer {
    width: 100%;
}

#interestedwufu {
    width: 45%;
}

#interestedContact {
    padding-left: 2%;
    width: 52%;
}

#professionalTitle, #membersTitle, #aboutTitle {
    font-size: 20px;
}

#outreachDescription, #apprecationDescription, #refinementDescription {
    display: inline-block;
    margin-top: 5px;
}

#outreachExampleTitle, #outreachContactTitle, #facultyDinnerTitle, #refinementDinnerTitle, #aboutAxsTitle, #aboutFaqTitle, #aboutAxsTitle, #aboutBpTitle, #aboutPledgingTitle, #aboutWebsiteTitle {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 5px;
    display: inline-block;
}

#MallShow1 {
    width: 20%;
    background-image: url("images/professional/mall/83.jpg");
}
#MallShow2 {
    width: 30%;
    background-image: url("images/professional/mall/81.jpg");
}
#MallShow4 {
    width: 30%;
    background-image: url("images/professional/mall/85.jpg");
}
#MallShow3 {
    width: 20%;
    background-image: url("images/professional/mall/82.jpg");
}

#FacultyDinner1 {
    background-image: url("images/professional/dinner/1.jpg");
}
#FacultyDinner2 {
    background-image: url("images/professional/dinner/3.jpg");
}
#FacultyDinner3 {
    background-image: url("images/professional/dinner/2.jpg");
}
#FacultyDinner4 {
    background-image: url("images/professional/dinner/4.jpg");
}

#appreciation .picture {
    width: 50%;
}

#facultyDinnerInformation {
    vertical-align: top;
}

#professional #refinement .picture {
    height: 300px;
}

#Table2 {
    width: 40%;
    background-image: url("images/professional/table/01.jpg");
}
#Table3 {
    width: 40%;
    background-image: url("images/professional/table/08.jpg");
}
#Table1 {
    width: 20%;
    background-image: url("images/professional/table/21.jpg");
}

#professional .picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 250px;
}

#outreachContact {
    display: inline-block;
    margin-top: 5px;
}

#outreachContact .officer {
    width: 49%;
}

.albumPreview, .albumPictureContainer {
    width: 212px;
    height: 200px;
    display: inline-block;
    position: relative;
}

.albumPreview .albumPreviewTitle {
    text-align: center;
    font-size: 23px;
    color: #E4E4E4;
    text-shadow: 2px 2px #000;
    position: absolute;
    top: 87px;
    width: 100%;
    background-size: auto 45px;
    z-index: 1;
}

.albumPreview:hover .albumPreviewTitle {
    background-color: rgb(24, 10, 87);
    background-image: url('images/bg3.jpg');
}

.albumPreview .albumPreviewOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition: opacity .25s;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -o-transition: opacity .25s;
    -ms-transition: opacity .25s;
}

.albumPreview:hover .albumPreviewOverlay {
    opacity: .2;
}

.albumPicturePreview, .albumPicture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.albumPreview, .albumPictureContainer, .pledgeClassPictureContainer:not(.noPicture) {
    border-style: solid;
    border-color: transparent;
    border: 2px 2px;
    margin: 2px;
    transition: border-color .25s;
    -webkit-transition: border-color .25s;
    -moz-transition: border-color .25s;
    -o-transition: border-color .25s;
    -ms-transition: border-color .25s;
}

.albumPreview:hover, .albumPictureContainer:hover, .pledgeClassPictureContainer:not(.noPicture):hover {
    border-color: #E4E4E4;
}

.albumPicture {
    width: 100%;
    height: 100%;
    position: relative;
}

.albumPicturePreview {
    width: 49%;
    height: 49%;
    position: relative;
}

.ytTitle {
    background-image: url('images/bg3.jpg');
    color: #E4E4E4;
    font-size: 18px;
    color: #E4E4E4;
    text-shadow: 2px 2px #000;
    background-size: auto 45px;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
    padding-top: 4px;
    text-align: center;
    position: absolute;
}

.ytPlay {
    background-image: url("images/social/YouTube-icon-black-red.png");
    background-position: center top;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    position: absolute;
    width: 74px;
    height: 52px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.albumPicturePreview .ytPlay {
    width: 37px;
    height: 26px;
}

.albumPicture:hover .ytPlay, .albumPreview:hover .ytPlay {
    background-position: center bottom;
}

#pictures a {
    text-decoration: none;
}

.pledgeClassPictureLink {
    position:relative;
    width: 100%;
    height: 100%;
}

.pledgeClassPictureContainer {
    display: inline-block;
}

.pledgeClassPictureContainer:not(.noPicture) {
    position: relative;
    width: 300px;
    height: 300px;
}

.pledgeClassPictureContainer:not(.noPicture) .pledgeClassPicture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.member {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px center;
}

.member .memberName.active {
    color: rgb(235, 235, 0);
}

.member .memberFamily {
    width: 19px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.faq{
    margin-bottom: 10px;
}
.faq>.faqTitle{
    color: rgb(235, 235, 0);
}
a.selected{
    color: #e4e4e4;
}

#googleCalendar {
    width: 100%;
    height: 100%;
    min-height: 750px;
}

#twitterfeed > iframe {
    width: 100% !important;
    height: 550px;
}

#viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    min-height: 400px;
}

#viewer.video {
    background-size: cover;
}

#viewer a {
    position: absolute;
    text-decoration: none;
    color: #E4E4E4;
    font-size: 179px;
    font-family: Georgia;
    line-height: 179px;
    height: 179px;
    text-shadow: 4px 4px black;
    margin: auto;
    opacity: .2;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
}

#viewer a:hover {
    opacity: .7;
}

#viewerNext {
    right: 0;
    top: 0;
    bottom: 0;
}

#viewerPrevious {
    left: 0;
    top: 0;
    bottom: 0;
}

#viewerClose {
    top: 0;
    right: 0;
}

embed.video, #videoWrapper {
    width: 100%;
    height: 100%;
}

.cats{
    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
}

.gradientTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(top, rgba(20,27,27,1),rgba(0,0,0,0));
}
.gradientBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    position: absolute;
    background: -webkit-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(bottom, rgba(20,27,27,1),rgba(0,0,0,0));
}
.gradientLeft {
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(left, rgba(20,27,27,1),rgba(0,0,0,0));
}
.gradientRight {
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -o-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
    background: -ms-linear-gradient(right, rgba(20,27,27,1),rgba(0,0,0,0));
}

.mercury.black{background-image:url(images/symbols/black/mercury.svg)}
.silver.black{background-image:url(images/symbols/black/silver.svg)}
.tin.black{background-image:url(images/symbols/black/tin.svg)}
.unsorted.black{background-image:url(images/symbols/black/unsorted.svg)}
.iron.blue{background-image:url(images/symbols/blue/iron.svg)}
.copper.blue{background-image:url(images/symbols/blue/copper.svg)}
.gold.blue{background-image:url(images/symbols/blue/gold.svg)}
.lead.blue{background-image:url(images/symbols/blue/lead.svg)}
.mercury.blue{background-image:url(images/symbols/blue/mercury.svg)}
.silver.blue{background-image:url(images/symbols/blue/silver.svg)}
.tin.blue{background-image:url(images/symbols/blue/tin.svg)}
.unsorted.blue{background-image:url(images/symbols/blue/unsorted.svg)}
.iron.white{background-image:url(images/symbols/white/iron.svg)}
.copper.white{background-image:url(images/symbols/white/copper.svg)}
.gold.white{background-image:url(images/symbols/white/gold.svg)}
.lead.white{background-image:url(images/symbols/white/lead.svg)}
.mercury.white{background-image:url(images/symbols/white/mercury.svg)}
.silver.white{background-image:url(images/symbols/white/silver.svg)}
.tin.white{background-image:url(images/symbols/white/tin.svg)}
.unsorted.white{background-image:url(images/symbols/white/unsorted.svg)}
.iron.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/iron.svg)}
.copper.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/copper.svg)}
.gold.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/gold.svg)}
.lead.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/lead.svg)}
.mercury.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/mercury.svg)}
.silver.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/silver.svg)}
.tin.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/tin.svg)}
.unsorted.rgb(235, 235, 0){background-image:url(images/symbols/rgb(235, 235, 0)/unsorted.svg)}